/* General Styling */
h2 {
  color: forestgreen;
}

#welcome {
  color: red;
}

a:hover {
  text-decoration: underline; /* or text-decoration: none; */
}

/* List Item Styling */
#milk,
#extra,
#little,
#creamless,
#desi,
#malay,
#chinese {
  color: black;
  background-color: white;
  padding: 7px;
  border: 2px dashed white;
}

/* Hover Styling for List Items */
#milk:hover,
#extra:hover,
#little:hover,
#creamless:hover,
#desi:hover,
#malay:hover,
#chinese:hover {
  background-color: black;
  color: white;
}

/* Individual Item Styling */
#milk,
#milk:hover {
  background-color: hotpink;
}

#extra,
#extra:hover {
  background-color: crimson;
}

#little,
#little:hover {
  background-color: palevioletred;
}

#creamless,
#creamless:hover {
  background-color: lightseagreen;
}

#desi,
#desi:hover {
  background-color: dimgrey;
}

#malay,
#malay:hover {
  background-color: mediumslateblue;
}

#chinese,
#chinese:hover {
  background-color: chocolate;
}

/* Other Elements Styling */
#location {
  color: rgb(255, 0, 221);
}

#style {
  color: red; /* Adjust if needed */
}

#sale {
  color: chartreuse;
  background-color: black;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 122px;
}

/* Global Styling */
* {
  text-align: center;
}

table {
  width: 40%;
  text-align: center;
  color: hotpink;
  margin: auto 30%;
  border: solid pink;
  /* border-collapse: collapse; */
}
td {
  border: solid pink;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
label {
  display: block;
  color: magenta;
  margin: 5px;
}
form {
  margin: auto 30%;
  color: red;
}
#price {
  color: red;
}
