h2 {
  color: burlywood;
}

#welcome {
  color: red;
}

a:hover {
  text-decoration: underline; /* or text-decoration: none; */
}

#milk {
  color: hotpink;
  background-color: black;
  padding: 7px;
  border: 2px dashed white;
}

#extra {
  color: crimson;
  background-color: black;
  padding: 7px;
  border: 2px dashed white;
}

#little {
  color: palevioletred;
  background-color: black;
  padding: 7px;
  border: 2px dashed white;
}

#creamless {
  color: lightseagreen;
  background-color: black;
  padding: 7px;
  border: 2px dashed white;
}

#desi {
  color: dimgrey;
  background-color: black;
  padding: 7px;
  border: 2px dashed white;
}

#malay {
  color: mediumslateblue;
  background-color: black;
  padding: 7px;
  border: 2px dashed white;
}

#chinese {
  color: chocolate;
  background-color: black;
  padding: 7px;
  border: 2px dashed white;
}

#location {
  color: maroon;
}

/* Remove the following rule if #style is not being used */
#style {
  color: red;
}

#sale {
  color: chartreuse;
  background-color: black;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 122px;
}
