h2 {
  color: burlywood;
}

#welcome {
  color: red;
}

a:hover {
  text-decoration: underline; /* or text-decoration: none; */
}

#milk,
#extra,
#little,
#creamless,
#desi,
#malay,
#chinese {
  color: white;
  background-color: black;
  padding: 7px;
  border: 2px dashed white;
}

#milk,
#milk:hover {
  background-color: hotpink; /* Change the background color */
}

#extra,
#extra:hover {
  background-color: crimson; /* Change the background color */
}

#little,
#little:hover {
  background-color: palevioletred; /* Change the background color */
}

#creamless,
#creamless:hover {
  background-color: lightseagreen; /* Change the background color */
}

#desi,
#desi:hover {
  background-color: dimgrey; /* Change the background color */
}

#malay,
#malay:hover {
  background-color: mediumslateblue; /* Change the background color */
}

#chinese,
#chinese:hover {
  background-color: chocolate; /* Change the background color */
}

#location {
  color: maroon;
}

/* Remove the following rule if #style is not being used */
#style {
  color: red;
}

#sale {
  color: chartreuse;
  background-color: black;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 122px;
}

* {
  text-align: center;
}

#table {
  text-align: center;
}
